<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/new.css" rel="stylesheet">
    <meta name="p:domain_verify" content="e0c13b03728fe397d75aa3ae75c3338e"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>

        </p>
      </div>
    </div>
    <div class="row">
      <center>
        <%= image_tag 'logo2.png', height: '250', width: '300' %>
      </center>
    </div>

    <% x = 1 %>
    <% y = 1 %>
    <% rowmax = @products.count/3 %>
    <div class="row">
    <% @products.each do |product| %>
      <% if x == 1 %>

      <% end %>
        <div class="col-sm-4 col-xs-12">
          <%= link_to product do %>
            <% Photo.where(:product_id => product.id, :is_main => 't').each do |photo| %>
              <%= image_tag photo.avatar.url(:large), class: "img-responsive", alt: photo.product.name %>
            <% end %>
          <% end %>
          &nbsp;
        </div>
        <% if x == 3 %>
          <% x = 1 %>
          <% y = y + 1 %>
          <% if y > rowmax %>
            <% break %>
          <% end %>
        <% else %>
          <% x = x + 1 %>
        <% end %>
    <% end %>
    </div>



   <div class="row">
     <div class="col-sm-12">
       <p>

       </p>
     </div>
   </div>

<%= image_tag @image['results'][0]['url_570xN'] %>
<%= @listings['results'][0]['title'] %>
<%= @cats %>




    <!-- jQuery -->

    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->


</body>

</html>
