<!--
<div class="row>">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <h1>New Photo</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
    <h3><%= link_to 'Back', photos_path %></h3>
  </div>
</div>
-->

<%= form_for(@photo, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :avatar_file_name %>
    <%= f.text_field :avatar_file_name %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Make a friend' %>
    <%= link_to 'Nevermind', photos_path, class: 'button' %>
  </div>
<% end %>
