<head>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</head>


<p id="notice"><%= notice %></p>

<p>

</p>

<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-11">

  <p>
    <h3><%= @product['results'][0]['title'] %> - $<%= sprintf('%.2f', @product['results'][0]['price']) %></h3>
  </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-md-3 col-xs-11">
    <p>
      <%= @product['results'][0]['description'].gsub("\n", "<br>").html_safe %>
    </p>

      </p>
    <% if @product['results'][0]['quantity'] > 0 %>
    <% else %>
      <h3>Out of stock</h3>
      Please contact us at support@edpdx.com for more information about when this product will be back in stock.
    <% end %>
    <p>

    </p>
    <table>
      <tr>
        <td>
          </td><td valign="top">
            <div class="fb-share-button" data-href="https://www.edpdx.com/products/<%= params[:id] %>" data-layout="button"></div>
          </td>
        </td>
      </tr>
      <tr height=10>

      </tr>
      <tr>
        <td>
          <td>
            <a class="btn btn-primary" href=<%= @product['results'][0]['url'] %> target=new>Purchase from our Etsy store</a>
          </td>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-xs-1">
  </div>
  <div class="col-md-6 col-xs-10">
    <% @images['results'].each do |photo| %>
      <%= image_tag photo['url_570xN'], class: "img-responsive", alt: @product['description'] %>
      <p>
      </p>
    <% end %>
  </div>
  <div class="col-sm-1 col-xs-1">
  </div>
</div>
