<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">

  <p>
    <h3><%= @product.name %> - $<%= sprintf('%.2f', @product.price) %></h3>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-3">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <% if @product_note.count > 0 %>
      <p>
        <strong>Notes:</strong>
        <ul>
          <% @product_note.each do |product_note| %>
            <li><%= product_note.note %></li>
          <% end %>
        </ul>
      </p>
    <% end %>

    <p>
      <strong>Dimensions:</strong><br>
      Height: <%= @product.height %><br>
      Width: <%= @product.width %><br>
      Length: <%= @product.length %><br>
      <p>

      </p>


    <a class="btn btn-success" href="/products/<%= @product.id %>/?var=add_to_cart">Add to cart<span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
  <div class="col-sm-7">
    <% @photo.each do |photo| %>
      <%= image_tag photo.avatar.url(:xlarge), class: "img-responsive", alt: photo.product.name %>
      <p>
      </p>
    <% end %>
  </div>
  <div class="col-sm-1">
  </div>
</div>
