<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">

  <p>
    <h3><%= @product.name %> - $<%= sprintf('%.2f', @product.price) %></h3>
  </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-7">
    <% @photo.each do |photo| %>
      <%= image_tag photo.avatar.url(:xlarge), class: "img-responsive", alt: photo.product.name %>
      <p>
      </p>
    <% end %>
  </div>
  <div class="col-sm-3">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <% if @product_note.count > 0 %>
      <p>
        <strong>Notes:</strong>
        <ul>
          <% @product_note.each do |product_note| %>
            <li><%= product_note.note %></li>
          <% end %>
        </ul>
      </p>
    <% end %>
    <a data-pin-do="buttonPin" data-pin-color="red" data-pin-count="above" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=https%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>


    <p>
      <strong>Dimensions:</strong><br>
      Height: <%= @product.height %><br>
      Width: <%= @product.width %><br>
      Length: <%= @product.length %><br>
      <p>

      </p>


    <a class="btn btn-success" href="/products/<%= @product.id %>/?var=add_to_cart">Add to cart<span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
  <div class="col-sm-1">
  </div>
</div>
