<head>
  <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
</head>


<p id="notice"><%= notice %></p>

<p>

</p>

<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-11">

  <p>
    <h3><%= @product.name %> - $<%= sprintf('%.2f', @product.price) %></h3>
  </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-md-3 col-xs-11">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <% if @product_note.count > 0 %>
      <p>
        <strong>Notes:</strong>
        <ul>
          <% @product_note.each do |product_note| %>
            <li><%= product_note.note %></li>
          <% end %>
        </ul>
      </p>
    <% end %>

    <p>
      <strong>Dimensions:</strong><br>
      Height: <%= @product.height %><br>
      Width: <%= @product.width %><br>
      Length: <%= @product.length %><br>
      <p>

      </p>
    <% if @product.quantity > 0 %>
      <a class="btn btn-success" href="/products/<%= @product.id %>/?var=add_to_cart">Add to cart</a>
    <% else %>
      <h3>Out of stock</h3>
      Please contact us at support@edpdx.com for more information about when this product will be back in stock.
    <% end %>
    <p>

    </p>
    <table>
      <tr>
        <td>
          <% @photo.each do |photo| %>
            <% if photo.is_main? %>
              <!-- just some comments -->
              <a data-pin-do="buttonPin" data-pin-color="red" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.edpdx.com%2Fproducts%2F<% params[:id] %>&media=https%3A%2F%2Fedpdxprod.s3.amazonaws.com%2Fphotos%2Favatars%2F<%= (photo.id/100).floor %>00%2F<%= (photo.id/100).floor %>00%2F<% if photo.id < 100 %>0<%= photo.id %><% else %><%= photo.id %><% end %>%2Flarge%2F<%= photo.avatar_file_name %>&description=<%= URI.escape(@product.name) %>" target=new><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
            <% end %>
          <% end %></td><td>
            &nbsp;
          </td><td valign="top">
            <div class="fb-like" data-href="https://www.edpdx.com/products/<%= params[:id] %>" data-width="200" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          </td>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-xs-1">
  </div>
  <div class="col-md-6 col-xs-10">
    <% @photo.each do |photo| %>
      <%= image_tag photo.avatar.url(:xlarge), class: "img-responsive", alt: photo.product.name %>
      <p>
      </p>
    <% end %>
  </div>
  <div class="col-sm-1 col-xs-1">
  </div>
</div>
