<!DOCTYPE html>
<html>
<head>
  <title>edpdx</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  img.checkout {
    height: 10%;
    width: 30%;
  }
  </style>
  <!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->
  <script src="javascripts/jquery_paste.js"></script>
  <!--<script src="javascripts/bootstrap_paste.js"></script>-->
  <% if params[:controller] == 'products' and params.has_key?(:id) %>
    <meta property="og:type" content="product" />
    <meta property="og:title" content="<%= @product.name %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <meta property="og:url" content="https://www.edpdx.com/products/<%= params[:id] %>" />
    <meta property="og:site_name" content="EDPDX" />
    <meta property="og:price:amount" content="<%= sprintf('%.2f', @product.price) %>" />
    <meta property="og:price:currency" content="USD" />
    <meta property="og:availability" content="<% if @product.quantity > 0 %>instock<% else %>out of stock<% end %>" />
    <% @photo.each do |photo| %>
      <% if photo.is_main? %>
        <meta property="og:image" content="<%= photo.avatar.url(:xlarge) %>" />
      <% end %>
    <% end %>
  <% end %>
</head>
<body>
  <div id="fb-root"></div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <% @cats = ProductCategory.joins("inner join products on product_categories.id = products.product_category_id").
    where("quantity > 0").group("product_categories.id, category") %>
  <% if session[:cart] %>
    <% if session[:cart] == '' %>
      <% cart = Cart.create(:active => 't') %>
      <% session[:cart] = cart.id %>
    <% else %>
      <% unless Cart.where(:id => session[:cart])[0].active? %>
        <% cart = Cart.create(:active => 't') %>
        <% session[:cart] = cart.id %>
      <% end %>
    <% end %>
  <% else %>
    <% cart = Cart.create(:active => 't') %>
    <% session[:cart] = cart.id %>
  <% end %>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../">
      edpdx.com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active">-->
        <li class="<%= 'active' if params[:controller] == 'products' %>">
          <!--<a href="#">LinkActive <span class="sr-only">(current)</span></a>-->
          <%= link_to "Products", products_path %>
        </li>
        <!--
        <li class="<%= 'active' if params[:controller] == 'products' and params[:type] == 'cutting_boards' %>">
          <% if params[:controller] != 'hq/users' and params[:controller] != 'hq/shipments' %>
            <%= link_to 'Cutting Boards', controller: "products", action: "index", type: 'cutting_boards' %>
          <% end %>
        </li>
        <li class="<%= 'active' if params[:controller] == 'products' and params[:type] == 'tasters' %>">
          <!--<a href="#">LinkActive <span class="sr-only">(current)</span></a>
          <% if params[:controller] != 'hq/users' and params[:controller] != 'hq/shipments' %>
            <%= link_to 'Tasting Trays', controller: "products", action: "index", type: 'tasters' %>
          <% end %>
        </li>-->
        <% if params[:controller] != 'hq/users' and params[:controller] != 'hq/shipments' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Product Categories
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% @cats.each do |cat| %>
                <li><%= link_to cat.category, controller: "products", action: "index", type: cat.id %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.pinterest.com/edpdx">Pinterest</a></li>
            <li><a href="https://www.twitter.com/edpdx_goods">Twitter</a></li>
            <li><a>support@edpdx.com</a></li>
            <li><%= link_to 'About Us', about_path %></li>
          </ul>
        </li>
        <% if session[:visitor] == 'admin' %>
          <li class="<%= 'active' if params[:controller] == 'photos' %>">
            <%= link_to "Photos", photos_path %>
          </li>
        <% end %>
        <% if session[:visitor] == 'admin' %>
          <li class="<%= 'active' if params[:controller] == 'hq/shipments' %>">
            <%= link_to "Shipments", hq_shipments_path %>
          </li>
        <% end %>
        <% if session[:visitor] == 'admin' %>
          <li class="<%= 'active' if params[:controller] == 'hq/users' %>">
            <%= link_to "Users", hq_users_path %>
          </li>
        <% end %>

      <% if session[:cart] %>

      <li class="<%= 'active' if params[:controller] == 'carts' %>">
        <%= link_to cart_path(session[:cart]) do %>
          Your Cart
          (<%= CartItem.where(cart_id: session[:cart]).sum(:quantity) %>)
        <% end %></li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:visitor] == 'admin' %>
            <li><%= link_to "Log out", log_out_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>
